# Logs
logs
*.log

# node-waf configuration
.lock-wscript

# Package distribution folder
dist

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
.idea
examples/sounds

# Sublime Text
*.sublime-workspace
*.sublime-project
