<!DOCTYPE HTML>
<html>
<head>
    <title>Spielmatrix</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <link href="./spielmatrix/spielmatrix.css" type="text/css" rel="stylesheet">

    <script src="./spielmatrix/spielmatrix.bundle.js"></script>
    <script src="./spielmatrix/pixi.min.js"></script>
</head>
    <body>
        <center><div id="game" data-width-max="480" data-width-min="240" data-resize-canvas="false"></div></center>
        <script src="./game.js"></script>
    </body>
</html>
